main{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 2fr 1fr;
}

main .profile-info{
    width: 95%;
    height: 350px;
    grid-column: 1;
    padding: 20px;
    border-radius: 10px;
    background: url("https://media-exp1.licdn.com/dms/image/C5616AQG2o3AFlGGG-Q/profile-displaybackgroundimage-shrink_350_1400/0/1610482163282?e=1640822400&v=beta&t=FbigY4IOdJPWC-Whb2oOgTJKp3b7qaTjVKQpTFA2Wgo");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: top;
    border: 1px rgb(230, 230, 230) solid;
margin-bottom: 25px;
}

.profile-info header{

    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 200px;
}

main .profile-info header img:nth-child(1){
    border-radius: 100%;
    width: 150px;
    border: 4px white solid;
}

main .profile-info p{
    font-size: 0.9rem;
    margin-top: 5px;
    font-weight: 300;
}

main .profile-info h3{
    font-size: 1.25rem;
}


.content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.content div:nth-child(1) p:nth-child(1){
    font-weight: 500;
}

.content span img{
    width: 30px;
    margin-right: 10px;
}

.content p {
    display: flex;
    height: 100%;
    align-items: center;
}

main .click-to-profile{
    width: 100%;
    background-color: rgb(252, 252, 252);
    border: 1px rgb(230, 230, 230) solid;
    height: 100%;
    grid-column: 2;
    grid-row: 1;
    /* background: url("../img/user_flow.png"); */
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

main .click-to-profile p{
    margin-bottom: 20px;
}

main .click-to-profile a{
    color: #0b65c2;
    background-color: rgb(252, 252, 252);
    font-size: 0.9rem;
    padding: 5px 15px;
    border-radius: 25px;
    border: 1px #0b65c2 solid;

}


main .experiences{
    width: 95%;
    background-color: rgb(255, 255, 255);
    border: 1px rgb(230, 230, 230) solid;
    /* height: 500px; */
    grid-column: 1;
    /* background: url("../img/user_flow.png"); */
    padding: 20px 20px 50px 20px;
    border-radius: 10px;
}
main .experiences h3{

    font-weight: 500;
    font-size: 1rem;
}

.exp{
    margin-top: 40px;
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
}

.exp img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
    object-fit: contain;
}

.exp h6{
    margin: 3px 0px 0px 0px;
    font-weight: 500;
    font-size: 0.8rem;
}

.exp h5{
    font-weight: 800;
    font-size: 1.1rem;
}

.exp p{
    font-size: 0.8rem;
}

.exp div p:nth-child(3){
    margin: 3px 0px 15px 0px;
    font-size: 0.75rem;
    color: gray;
}

.separator{
    margin-top: 50px;
    border-top: 1px rgb(240, 240, 240) solid;
    padding-top: 30px;
}

main .skills{
    margin-top: 25px;
    width: 100%;
    background-color: rgb(252, 252, 252);
    border: 1px rgb(230, 230, 230) solid;
    height: 400px;
    grid-column: 2;
    grid-row: 2;
    /* background: url("../img/user_flow.png"); */
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}